h1 {
    font-weight: normal;
    font-size: 32;
    margin-top: 0;
}

table {
    width: 100%;
}

.table-container {
    overflow: auto;
    height: 350px;
    background-color:#F0F0F0;    
    border-radius: 10px;
}

th.mat-header-cell{
    border-bottom-style: none;
    font-weight: bold;
    font-size: 15px;
    background-color: 
    #F0F0F0;
    text-align: center;
}

td.mat-cell{
    border-bottom-style: none;
    color: rgb(49, 46, 46);
    background-color: 
    #F0F0F0;
    text-align: center;
}

.mat-column-titulo {
    flex: none;
    width: 20%;
}
.mat-column-categoria {
    flex: none;
    width: 10%;
}
.mat-column-autor {
    flex: none;
    width: 10%;
}
.mat-column-isbn {
    flex: none;
    width: 10%;
}
.mat-column-capa {
    flex: none;
    width: 10%;
}
.mat-column-excluir {
    flex: none;
    width: 10%;
}

.container {
    padding: 40px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.div-form {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.btn-submit {
    background-color: #69B2F4;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.upload-photo {
    display: none;
}

label {
    background-color: #69B2F4;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    min-width: 64px;
    line-height: 36px;
}

.btn-submit:hover {
    background-color: rgba(0, 128, 0, 0.729);
}

label:hover {
    background-color: rgba(0, 128, 0, 0.729);
}

.btn-delete {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    border-radius: 50px;
}


.progress-bar {
    height: 20px;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.carregar-img{
    font-weight: bold;
}
