#login-container {
    height: 100vh;
    width: 100%;
    background: #69B2F4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

#login-container h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}

.login-form {
    box-sizing: border-box;
    width: clamp(300px, 90%, 800px);
    height: clamp(300px, 90%, 700px);
    background: #FFFFFF;
    border-radius: 30px;
    padding: 30px 50px;
    /* box-shado7: 0 0 50px #6B98F1; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 76px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px #7b7b7b;
    margin-bottom: 40px;
}

.google h2{
font-weight: 400;
}

.google img{
    margin-right: 20px;
}

.entrar {

    width: 100%;
    height: 76px;
    padding: 0 20px;
    background-color: #69B2F4;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px #7b7b7b;
    font-weight: 600;
    cursor: pointer;
}

.login-form form {
    width: 100%;
}

.login-form form input {
    display: flex;
    width: 100%;
    align-items: center;
    height: 76px;
    border: 1px solid #6A6A6A;
    border-radius: 10px;
    padding: 0 20px;
    background-color: #E6E6E6;
}

.form {
display: flex;
justify-content: center;
align-items: center;
width: 80%;
}

.login-form #senha{
    margin-top: 50px;

}
.login-form form button {
    margin-top: 50px;
}

#login-container span {
    margin-top: 40px;
    color: #6A6A6A;
}

#login-container span a {
    text-decoration: none;
    font-weight: bold;
    color: #6A6A6A;
    cursor: pointer;
}

.login-form input,
.login-form button {
    font-size: 17px;
}