<cabecalho></cabecalho>
<div class="container">
    <h1>Editar emprestimo</h1>
    <form #formEdit="ngForm" class="form-components">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Leitor</mat-label>
            <input type="text" matInput placeholder="Nome do leitor" name="leitor" required
                [(ngModel)]="emprestimo.leitor" class="input-text">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="E-mail" name="email" [(ngModel)]="emprestimo.email" required class="input-text">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Telefone</mat-label>
            <input type="text" matInput placeholder="telefone" name="telefone" [(ngModel)]="emprestimo.telefone"
                required class="input-text" mask="(00)00000-0000">
        </mat-form-field>
        <div class="form-select">
            <mat-form-field appearance="outline" class="select">
                <mat-select [(ngModel)]="emprestimo.status" name="status" required>
                    <mat-option disabled>Selecione o status</mat-option>
                    <mat-option *ngFor="let status of statusEmprestimos" value={{status}}>
                        {{status}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="select">
                <mat-select [(ngModel)]="emprestimo.livro" name="livro" required>
                    <mat-option disabled>Selecione o livro</mat-option>
                    <mat-option *ngFor="let livro of booksList" value={{livro.id}}>
                        {{livro.titulo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-button">
            <button class="btn-submit" mat-raised-button (click)="updateRentBook(formEdit)"
                class="button-add">Adicionar</button>
            <button class="btn-close button-cancelar" (click)="redirectToControl()">Cancelar</button>
        </div>
    </form>
</div>