.cancelar{
    text-decoration: none;
    color: white;
}

.form-components{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    padding-left: 100px;
}


.form-button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

button{
    width: 48%;
}

h1{
    font-weight: normal;
    font-size: 32;
    padding-left: 100px;
}

.button-add{
   background-color: #69B2F4;
   border: none;
   border-radius: 5px;
   font-size: 20px;
   padding: 10px;
   color: white;
   cursor: pointer;
}

.button-add:hover{
    background-color: rgba(0, 128, 0, 0.729);
}
.button-cancelar{
    background-color: #69B2F4;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    color: white;
}
.button-cancelar:hover{
    background-color: rgba(0, 128, 0, 0.729);
}

.input-text{
    height: 15px;
}

.form-select{
    width: 100%;
    display: flex;
    gap: 25px;
}

.select{
    width: 50%;
}