mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: 
    #69B2F4;
    color: white;
}

#logout {
    display: flex;
    align-items: center;
}

#logout i {
    margin-left: 10px;
}

.icone-menu{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.icone-menu :hover{
    background-color: #67abe6;
}