*{
    box-sizing: border-box;
}

h1 {
    font-weight: normal;
    font-size: 32px;
    margin-top: 0;
}

table{
    width: 100%;
}

.mat-elevation-z8 {
    overflow: auto;
    height: 400px;
    background: color #f0f0f1;    
    border-radius: 10px;
}

th.mat-header-cell{
    border-bottom-style: none;
    font-weight: bold;
    font-size: 15px;
    background-color: 
    #F0F0F0;
    text-align: center;
}

td.mat-cell{
    border-bottom-style: none;
    color: rgb(49, 46, 46);
    background-color: 
    #F0F0F0;
    text-align: center;
    height: 80px;
}

.tabelaControle {
    width: clamp(300px, 80%, 1400px);
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
}

.tabela {
    width: 100%; 
    background-color: #F0F0F0; 
}

.botao {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: #d7f034;
}

.mat-column-leitor {
    flex: none;
    width: 20%;
}
.mat-column-livro {
    flex: none;
    width: 13%;
}
.mat-column-dataEmprestimo {
    flex: none;
    width: 13%;
}
.mat-column-status {
    flex: none;
    width: 13%;
}
.mat-column-excluir {
    flex: none;
    width: 13%;
}
.mat-column-editar {
    flex: none;
    width: 13%;
}
.mat-column-capa {
    flex: none;
    width: 13%;
}

.avatar {
    flex: none;
    width: 80%;
    
}

.container {
    padding: 40px;
}
