<div id="login-container">
    <div class="login-form">
        <h1>Inscreva-se</h1><!-- (click)="(click)="signInGoogle()" -->
        <button class="google"> 
            <img src="assets/icons/google.svg" alt="Logo Google">
            <h2>Continuar com Google</h2>
        </button>
       <div class="form">
        <form>
            <input type="email" placeholder="E-mail" formControlName="email">
            <input type="password" placeholder="Senha" formControlName="senha" id="senha">
            <button class="entrar" type="submit" >Inscrever-se</button> <!-- (click)="signInEmailAndPassword()" -->
        </form>
        </div>
        <span><a routerLink="/login">Voltar para Login</a></span>
    </div>
</div>