.home-banner {
    min-height: 40vh;
    background-image: url("/assets/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
}

.home-title {
    font-size: 32px;
    line-height: 42px;
    width: 50%;
    margin-left: 7%;
}